<div class="container mt-5">
  <%= render 'shared/search_form' %>

  <div class="row">
    <% if @users.any? %>
      <% @users.each do |user| %>
        <div class="col-12 mb-3">
          <div class="card">
            <div class="row g-0 align-items-center">
              <div class="col-md-2 d-flex justify-content-center">
                <%= image_tag user.profile_photo_url, class: 'img-fluid rounded', alt: "#{user.username} profile photo" %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <%= render user %>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <%= link_to 'Düzenle', edit_user_path(user), class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Kullanıcı Bulunamadı!</p>
    <% end %>
  </div>
</div>
